/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Form styles */
#foodSearchForm {
  display: flex;
  margin-bottom: 20px;
}

#food {
  flex: 1;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

#food:focus {
  border-color: #333;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  width: 18%;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* Meal card styles */
.card {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
/* Add this CSS to your existing styles */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: calc(33.33% - 20px); /* Adjust the width of each card here */
  /* Other card styles */
}
/* Add this CSS to your existing styles */
/* Responsive styles */
@media (max-width: 768px) {
  .container {
    max-width: 90%; /* Adjust container width for smaller screens */
  }
}

/* Adjust form styles for small screens */
@media (max-width: 576px) {
  #foodSearch {
    flex-direction: column;
  }

  #food {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  button[type="submit"] {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* Adjust card styles for small screens */
@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }

  .card {
    flex-basis: 100%;
  }
}
